<section class="about" id="about" @zoomInAnimation>
  <div class="container text-center">
    <h2 class="section-title">
      About AMPS ELECTRO-MECHANICAL INC
    </h2>
    <p>
      We are your electrical contractor. Our professional electricians will provide you with quality service when you need it.<br />
      <br />
      We are poineers in  Electrical Installations, LV Installation, Security System- Access Control System Installation, CCTV system Installation. Public Address System Installation. Automatic Light Control System Installation for the high rise buildings, car parking etc, Automatic Gate Barriers installations for car parkings, Networking cabling etc.
    </p>

    <div class="row stats-row">
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">15</span> Hard Workers
        </div>
      </div>
    </div>
  </div>

  <div @zoomInAnimation class="container  text-center">
    <h2 class="section-title">
      Welcome to a perfect team of engineers
    </h2>

    <p>
      Our services provide the most powerful services with thousands of options that you have never seen before.
    </p>
    <img alt="AMPS ELECTRO-MECHANICAL INC" class="gadgets-img hidden-md-down" src="assets/img/cover3.jpg">
  </div>
</section>
