<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a  href="javascript:void(0)" routerLink="/home"><img src="assets/img/logo-nav.png" alt="AMPS ELECTRO-MECHANICAL INC" title="AMPS ELECTRO-MECHANICAL INC" /></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <h1><!--<a href="javascript:void(0)" routerLink="/home">Amp Solution</a>--></h1>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/home">Home</a></li>
            <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/about">About Us</a></li>
            <!-- <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/feature">Features</a></li>
   <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/portfolio">Portfolio</a></li>-->
            <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/services">Services</a></li>
            <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/team">Team</a></li>
            <li routerLinkActive="menu-active"><a href="javascript:void(0)" routerLink="/contact">Contact Us</a></li>
            <li><a href="http://amperesolutions.blogspot.com" target="_blank">Blog</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->

        <nav class="nav social-nav pull-right d-none d-sm-block">
            <a href="#"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/pages/category/Contractor/AMPS-Electro-Mechanical-Inc-454793318250185/" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://www.linkedin.com/in/nirmal-johal-2a337761/" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="mailto:info@ampsolution.ca" target="_top"><i class="fa fa-envelope"></i></a>
        </nav>
    </div>
</header>
