
<section class="hero" style="background-image:url(assets/img/cover.jpg)">
  <div class="container text-center">
    <div class="row" @zoomInAnimation>
      <div class="col-md-12">
        <h1>
          AMPS ELECTRO-MECHANICAL INC
          <!--<a class="hero-brand" href="index.html" title="Home">
              <img alt="Amp Solution CA" src="assets/img/logo-nav.png">
          </a>-->
        </h1>
      </div>
    </div>

    <div class="col-md-12" @zoomInAnimation>
      <h1 class="xs-margin-top">
        Making life brighter
      </h1>

      <div class="tagline">
        We provide all kind of electrical services for
        <ul class="list-unstyled">
          <li><span class="right-arrow">&#8594;</span>Residential</li>
          <li style="margin-left:16px"><span class="right-arrow">&#8594;</span>Commercial</li>
          <li style="margin-left:-20px"><span class="right-arrow">&#8594;</span>Industrial</li>
        </ul>
      </div>
      <a class="btn btn-full mt-1" routerLink="/services">Get Started Now</a>
    </div>
  </div>
</section>
<section>
  <div class="container text-center">
    <div class="row" @zoomInAnimation>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Electrical Duct Bank</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text"> Electrical duct bank installation is one of the many specialized services we offer. Replacing and installing a new duct bank is no easy feat for the average electrician. The scope of work required to conduct successful duct bank installation entails coordination among various parties – including adhering to the rules...</p>
            <a href="/services#1" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Electric Panel Upgrades</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">
              Having an outdated electric panel in your home means lower efficiency, a higher risk of shortages, and even safety concerns from poorly managed electricity. AMPS ELECTRO MECHANICAL  can offer electric panel upgrades to homes and facilities with outdated models, or for ones that aren’t functioning to their fullest capacity...
            </p>
            <a href="/services#2" class="btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3" @zoomInAnimation>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Dry Sauna & Steam Sauna</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">
              Sometimes, the most important service you can offer for others is the opportunity to take a few minutes and truly relax. If you’re looking to install, repair, or upgrade a steam room or sauna for your facility, AMPS ELECTRO MECHANICAL  is here for you! The use of these facilities have been linked to myriad health benefits...
            </p>
            <a href="/services#3" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Lighting Retrofit and Supplies</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">
              A lighting retrofit is a relatively new term in the industry. Many commercial and industrial companies are phasing out their older lighting systems. The rapid advancement of technology today has led to better, cleaner, greener, and cheaper alternatives to the traditional lightbulb.
              Many facilities and buildings still use...
            </p>
            <a href="/services#4" class="btn">Read More</a>
          </div>

        </div>
      </div>
    </div>
    <div class="row mt-3" @zoomInAnimation>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Electrical Vehicle Charging</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">
              <strong>AMPS ELECTRO MECHANICAL</strong>  is dedicated to greener living. We’re moving away from a world powered by fossil fuels. Gas-powered cars are still in the majority, but we fully support you for making the move to electric solutions, and gladly provide electric vehicle charging for those who have...
            </p>
            <a href="/services#5" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Energy & Water Reporting and Benchmarking</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text"> Did you know some of the largest operating costs in your building can come from energy and water usage? Any privately-owned buildings that are 50,000 ft² or larger are annually required to report the building’s energy and water usage to the Ministry of Energy, Northern Development and Mines (ENDM)...</p>
            <a href="/services#6" class="btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3" @zoomInAnimation>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Electrical Services and Repairs</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">
              Breakdowns can be unfortunately regular occurrences in residential, commercial, and industrial buildings. Electrical infrastructure that isn’t maintained regularly is more prone to breaking down than well-looked-after systems. Our electrical services for Toronto area facilities include repairing equipment...
            </p>
            <a href="/services#7" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Installation and Electrical Maintenance</h5>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">At <strong>AMPS ELECTRO MECHANICAL</strong>, we understand the value of regular electrical maintenance for building wiring and lighting systems. Our qualified electricians are experts at maintaining existing systems, and at keeping them running longer and with increased efficiency...</p>
            <a href="/services#8" class="btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

