<section class="portfolio" id="portfolio">
    <div class="container text-center" @fadeInAnimation>
        <h2>
            Portfolio
        </h2>

        <p>
            Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per nihil dicant commodo an.
        </p>
    </div>

    <div class="portfolio-grid">
        <div class="row">
                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/port1.jpg" @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block" >
                        <a href="#">
                            <img alt="" src="assets/img/port2.jpg" @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/port3.jpg" @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/port4.jpg" @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/porf-4.jpg"  @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/porf-5.jpg" @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/porf-6.jpg" @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/porf-7.jpg"  @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" src="assets/img/porf-8.jpg"  @zoomInAnimation>
                            <div class="portfolio-over">
                                <div>
                                    <h3 class="card-title">
                                        The Dude Rockin'
                                    </h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</section>
