<!-- Features -->

<section class="services py-4" id="services" @zoomInAnimation>
  <div class="container">
    <h2 class="mb-4">
      Electrical Duct Bank
    </h2>
    <div class="row">
      <div class="col-12">
        Electrical duct bank installation is one of the many specialized services we offer. Replacing and installing a new duct bank is no easy feat for the average electrician. The scope of work required to conduct successful duct bank installation entails coordination among various parties – including adhering to the rules and stipulations of the Ontario Electrical Safety Authority (ESA), and Toronto Hydro. We understand the importance of ensuring these rules are met, as careless mistakes can lead to a loss of thousands of dollars.
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        Conducting assessments, seeking engineering drawing approval, excavation, back filling, finishing, and landscaping are all part of the installation process. The team at <strong>AMPS ELECTRO MECHANICAL</strong>  is fully capable of meeting the full scope of these working needs required for effective duct bank installation.
      </div>
    </div>
    <h2 class="my-4">
      Electric Panel Upgrades
    </h2>
    <div class="row">
      <div class="col-12">
        Having an outdated electric panel in your home means lower efficiency, a higher risk of shortages, and even safety concerns from poorly managed electricity. AMPS ELECTRO MECHANICAL  can offer electric panel upgrades to homes and facilities with outdated models, or for ones that aren’t functioning to their fullest capacity.<br /><br />
        Having electric panel upgrades means having room to expand your home or facility’s electrical output. If you’re looking to install new functions around your home, you may need to install a new panel that can manage the increase in energy. For example, a home looking to add a garage needs to consider an electric door opener, lighting, heating, and similar electrical services. In this case, you’ll want to ensure that your current electric panel can support so many new services. If it can’t, you’ll need electric panel upgrades – which means you’ll need <strong>AMPS ELECTRO MECHANICAL</strong> .<br /><br />
        Our fully licensed electricians are more than well-equipped enough to examine and service your electric panels, and manage any upgrades or repairs you might need to accommodate your home draw. If you have any concerns at all about your current panel setup, feel free to call straightaway – outdated electric panels can be a fire hazard, and a serious drain on your finances as well!<br /><br />
        At <strong>AMPS ELECTRO MECHANICAL</strong> , we want your home to be a safe, cost-efficient place to be! If you’re at all interested in electric panel upgrades or service work, feel free to reach out to us anytime!
      </div>
    </div>
    <h2 class="my-4">Dry Sauna & Steam Sauna</h2>
    <div class="row">
      <div class="col-12">
        Sometimes, the most important service you can offer for others is the opportunity to take a few minutes and truly relax. If you’re looking to install, repair, or upgrade a steam room or sauna for your facility, AMPS ELECTRO MECHANICAL  is here for you! The use of these facilities have been linked to myriad health benefits, from cold symptom relief to simple relaxation, and the service is incredibly popular across a wide variety of demographics.
        <strong>AMPS ELECTRO MECHANICAL ’s</strong> licensed electricians are trained in the installation and usage of dry-heat saunas and traditional steam rooms. We can install a fully-functioning sauna or steam room safely, efficiently, and at a competitive cost and quality.<br /><br />
        Whether for an independent facility, gymnasium, hotel, or anywhere else, <strong>AMPS ELECTRO MECHANICAL</strong>  can supply you with dry and steam sauna installation and service that accommodates your needs. Give us a call anytime to learn more!
      </div>
    </div>
    <h2 class="my-4">Lighting Retrofit and Supplies</h2>
    <div class="row">
      <div class="col-12">
        <img src="assets/img/services/bulb.png" alt="bulb.png" style="max-width:531px;width:100%" />
        <div>
          A lighting retrofit is a relatively new term in the industry. Many commercial and industrial companies are phasing out their older lighting systems. The rapid advancement of technology today has led to better, cleaner, greener, and cheaper alternatives to the traditional lightbulb.
          Many facilities and buildings still use outdated incandescent and fluorescent lamps to provide lighting. These used to be the most efficient option – today, they are among the worst. They are dim, last for very short periods of time, and are a hazard to be around.
          We offer a complete lighting retrofit service that replaces your older lightbulbs and systems with modern LED lamps.
        </div>
        <div class="d-block">These tiny bulbs provide:</div>
        <ul>
          <li>Up to 80% reduction in wattage compared to incandescent bulbs.</li>
          <li>A far brighter light. A 28-watt LED bulb shines at over 2,700 lumens. For an incandescent bulb to shine that brightly, it would have to be at least a 150-watt bulb.</li>
          <li>A longer lifespan. Standard incandescent light bulbs shine for over 1,200 hours. LED bulbs average over twenty times that, at about 25,000 hours.</li>
          <li>Improved cost-efficiency. Because LED bulbs shine brighter at a lower wattage, they consume less energy over time. Since they also last longer, you save money through energy efficiency and reduced cost of replacement.</li>
        </ul>
        Take advantage of our lighting retrofit services to improve the efficiency and savings of your home or company. We are more than qualified to upgrade your systems efficiently and safely. Contact us today to schedule an assessment and begin retrofitting your building.<br /><br />
        <strong>AMPS ELECTRO MECHANICAL</strong> is a full-service electrical audit company – we do so much more than repair the obvious issues! Upon request, we can perform a full lighting audit and assessment of your electrical infrastructure. This helps save money on your hydro bills because we can:
        <ul>
          <li>Identify issues with current electrical supply</li>
          <li>Detect critical issues in internal wiring</li>
          <li>Identify sources of current bleed</li>
          <li>Identify potentially hazardous zones within the grid</li>
        </ul>
        Our lighting audits have a variable scope. You can benefit from them whether you own a house, an apartment block, or a factory. We employ specialists with decades of experience in relevant fields. These experts can scour your facility or building inside and out to find out how your lighting systems can be improved.
        After the assessment is completed, we make our recommendations and give you our report. At this point, you can also hire us to fix any problems we may have identified for you. We recommend that you use our various services - we know everything about any potential problems in your system, and will work hard to correct them all.
        We guarantee results. Our electrical audit services are top-notch. Understand your building or facility properly and see what a great electrical contractor can do to make it better. Contact us today to schedule your own assessment.

      </div>
    </div>
    <h2 class="my-4">Electrical Vehicle Charging</h2>
    <div class="row">
      <div class="col-12">
        <img src="assets/img/services/charging.png" alt="Electric Vehicle Charging" />
        <div>
          <strong>AMPS ELECTRO MECHANICAL</strong>  is dedicated to greener living. We’re moving away from a world powered by fossil fuels. Gas-powered cars are still in the majority, but we fully support you for making the move to electric solutions, and gladly provide electric vehicle charging for those who have.<br />
          Our electricians perform electrical installation of a variety of equipment and accessories. In homes, high rises, and other facilities, we install quality equipment and keep it running for the long-term.<br />
          An EV charger can be a standalone unit, or can be built into the walls of your home or garage. We perform the electrical installation in a nonintrusive fashion, so you don’t see it until you need it.<br />
          Whether you require installation, repair, maintenance, or emergency service – know that the experienced team at AMPS ELECTRO MECHANICAL  is here to get the job done.<br /><br />
          <h4>Our Partners</h4>
          If you’re in need of a specialized electrical installation, we have got you covered. Our services extend to installing chargers from a variety of manufacturers and service providers including Tesla, FLO, Sun Country Highway, ABB, Bosch, and Leviton.
          We have worked exclusively with the installation of electrical vehicle chargers in particular, and are capable of ensuring seamless quality installations.
          To learn more about some of the companies we work with, check out our Partners page<br /><br />
          <h4>Electrical Vehicle Power Audit</h4>
          We can also perform an electric vehicle power audit, which is a special kind of power audit that requires significant care and attention to detail. In order to properly determine and assess a building’s energy consumption, we can install a data logger meter, which, after running for a week, will provide us with a detailed log of that building’s energy habits and power information.<br />
          This is the most efficient and accurate means available of assessing the power consumption from your main power distribution and routine habits. We can use this information to provide you with a detailed analysis and audit designed to improve your power efficiency. If you’d like more information, we may request some of our recent power audits for electric vehicle charging ports at any time.<br />
          Please note that during the auditing process, it will be necessary for us to shut down your building’s power for between one and two hours; backup battery or emergency generators may be used during this time.<br />
          Contact us today to get your electric vehicle charging underway to power your next trip as cleanly as possible!
        </div>
      </div>
    </div>
    <h2 class="my-4">Energy & Water Reporting and Benchmarking</h2>
    <div class="row">
      <div class="col-12">
        Did you know some of the largest operating costs in your building can come from energy and water usage? Any privately-owned buildings that are 50,000 ft² or larger are annually required to report the building’s energy and water usage to the Ministry of Energy, Northern Development and Mines (ENDM).<br />
        Our services in Energy & Water Reporting and Benchmarking (EWRB) can help you:<br />
        <ul>
          <li>Save money by tracking your usage</li>
          <li>Compare your usage to similar buildings</li>
          <li>Identify energy and water efficiency opportunities</li>
        </ul>
        <h4>Reporting Checklist and Timeline</h4>
        <h5>Step 1 (February 1st - 28th): Get your EWRB ID</h5>
        <ul>
          <li>Your property will be assigned a unique 6 digit number ID that will be emailed to you in the beginning of the new year.</li>
          <li>If for some reason you do not receive your EWRB ID, contact EWRB support with your property tax bill or utility bill on hand.</li>
          <li>EWRB SUPPORT: 1-844-274-0689 or ewrbsupport@ontario.ca.</li>
        </ul>
        <h5>Step 2 (February 1st - April 30th): Collect your reporting information</h5>
        <strong>How to collect your energy and water usage data</strong><br />
        <ul>
          <li>Invoices</li>
          <li>
            Your electricity, natural gas and water utilities monthly bills
            Ensure that you ask for the entire buildings monthly EWRB data in advance
            You are required to determine the gross floor area of each property use type in your building. For a list of property use types, go to the Portfolio Manager website.
          </li>
        </ul>
        <h5>Step 3 ( March 1st - May 31st): Open Portfolio Manager account</h5>
        <ul>
          <li>Go to the Portfolio Manager log-in page at <a target="_blank" href="https://portfoliomanager.energystar.gov/pm/login.html">https://portfoliomanager.energystar.gov/pm/login.html</a></li>
          <li>Click on the Create a New Account button</li>
          <li>The screen will reload to show the Create an Account page. Enter the required information. Fields marked with a red asterisk are mandatory</li>
          <li>Under the About Yourself section, for the Reporting Units field, select the Conventional EPA Units (e.g., kBtu/ft²) option</li>
          <li>For the Searchability in Portfolio Manager section of the form, select the Yes option</li>
          <li>Once you have entered all the requested information, click on the Create Account button to create the account</li>
          <li>You will receive an email message from Energy Star to activate your new Portfolio Manager account. Within 24 hours, follow the instructions in the email to complete the account creation process</li>
        </ul>
        <h5>Step 4 (April 1st - May 31st): Verify Portfolio Manager Data</h5>
        Verification is required for buildings 100,000 square feet or larger the first year you are reporting. It will then be required every five years after that.<br />
        <h5>Step 5 (April 1st - July 1st): Submit your report on the Portfolio Manager EWRB page</h5>
        <strong>Your report must be submitted by July 1st.</strong>
        <strong>REMEMBER</strong>: To ensure that you are submitting accurate data, run your report on the Portfolio Manager Data Quality Checker.
      </div>
    </div>
    <h2 class="my-4">Electrical Services and Repairs</h2>
    <div class="row">
      <div class="col-12">
        <img src="assets/img/services/service.png" alt="Electrical Services and Repairs" />
        <div>
          Breakdowns can be unfortunately regular occurrences in residential, commercial, and industrial buildings. Electrical infrastructure that isn’t maintained regularly is more prone to breaking down than well-looked-after systems. Our electrical services for Toronto area facilities include repairing equipment and infrastructure that has failed during operation.
          Most breakdowns are emergency situations. In industrial and commercial buildings, they can bring production to a complete halt. A. S. Electrical offers fast, professional emergency electrical services for businesses and buildings across the Greater Toronto Area. We specialize in electrical repairs of panels, fan coils, harmonic distortion power filters, and much more.
          The quicker the repair, the faster you are able to restart production and reduce downtime. This leads directly to a reduction in losses. Fast repairs require high levels of skill, however our electricians can identify a problem, prepare a solution, and implement it quickly and efficiently.
          Our electrical services in Toronto and the GTA include:<br />
          <ul>
            <li>Emergency electrical repairs</li>
            <li>Industrial machinery repair</li>
            <li>Commercial repairs (including high-rise buildings)</li>
            <li>Condominium and residential electrical repairs</li>
          </ul>
          At A. S. Electrical, we believe that there’s no such thing as a job that is too tough. Repairing an electrical system can be challenging at times, but we have the qualifications to see it through to completion every single time. If you’re in Toronto and need some electrical services or repairs conducted, you’re in luck.<br />
          When experiencing an electrical emergency, contact us and let us solve the problem for you.
        </div>
      </div>
    </div>
    <h2 class="my-4">Installation and Electrical Maintenance</h2>
    <div class="row">
      <div class="col-12">
        <img src="assets/img/services/maintenance.png" alt="Installation and Electrical Maintenance" />
        <div>
          At AMPS ELECTRO MECHANICAL , we understand the value of regular electrical maintenance for building wiring and lighting systems. Our qualified electricians are experts at maintaining existing systems, and at keeping them running longer and with increased efficiency.
          Our service teams are experts who have dealt with complex electrical systems and equipment for decades. They know what to do to prevent machinery and wiring systems from failing or running at anything less than an optimal level.
          The electrical maintenance we offer also improves the efficiency of your current lighting and electrical machinery. We do this by addressing bleeds, rewiring where necessary, and [updating outdated systems as required.<br />
          <strong>Advantages of Our Preventative Maintenance</strong>
          <ul>
            <li>Systems operate more efficiently over time</li>
            <li>Devices and systems last longer</li>
            <li>Reduced risk of electrical failure</li>
            <li>Lower risk of electrical shock/accidents</li>
            <li>Reduced frequency of electrical downtime</li>
          </ul>
          Electrical maintenance can be performed anywhere, whether a home, office, or factory. At AMPS ELECTRO MECHANICAL , we have the experience needed to maintain the electrical infrastructure of any building, large or small.<br />
          In the industrial and commercial sectors especially, this maintenance can lead to significant savings. A lower rate of failure means production can continue ceaselessly for longer. Machinery runs more efficiently, and the costs of operation are drastically reduced, while the cost of repairs is also greatly lessened, all of which improves your bottom line.<br />
          For more information about our electrical preventive maintenance, <a href="/contact">contact us</a> today.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Features -->
