 <!-- Team -->

<section class="team pt-3" id="team">
  <div class="container">
    <h2 class="mb-5">
      Meet our team
    </h2>
    <div class="row">
      <div class="col-sm-4 col-xs-7">
        <div class="card card-block" style="margin-right:5px;">
          <a href="#" @zoomInAnimation>
            <img alt="" class="team-img" src="assets/img/team/card1.jpeg">
            <div class="card-title-wrap">
              <span class="card-title">Nirmal Singh Johal</span> <span class="card-text">Owner</span>
            </div>

            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with us
              </h4>

              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>

              <p>
                ELECTRICAL & IT CERTIFIED Team.
              </p>
            </div>
          </a>
        </div>
      </div>
      <!--<div class="col-sm-3 col-xs-6">
          <div class="card card-block" @zoomInAnimation>
              <a href="#">
                  <img alt="" class="team-img" src="assets/img/team-3.jpg">
                  <div class="card-title-wrap">
                      <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                  </div>

                  <div class="team-over">
                      <h4 class="hidden-md-down">
                          Connect with me
                      </h4>

                      <nav class="social-nav">
                          <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                      </nav>

                      <p>
                          Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                      </p>
                  </div>
              </a>
          </div>
      </div>

      <div class="col-sm-3 col-xs-6">
          <div class="card card-block" @zoomInAnimation>
              <a href="#">
                  <img alt="" class="team-img" src="assets/img/team-4.jpg">
                  <div class="card-title-wrap">
                      <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                  </div>

                  <div class="team-over">
                      <h4 class="hidden-md-down">
                          Connect with me
                      </h4>

                      <nav class="social-nav">
                          <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                      </nav>

                      <p>
                          Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                      </p>
                  </div>
              </a>
          </div>
      </div>-->
    </div>
    <div class="row">
      <div class="col-12">
        <img src="assets/img/team/team_pic1.jpeg" alt="team" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <img src="assets/img/team/team_pic2.jpeg" alt="team" />
      </div>
    </div>
  </div>
</section>
<!-- /Team -->
